.sidebar{
    width: 18vh;
    height: 100vh;
    background-color: #d2d0cf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5vh;
    align-items: center;
    svg{
        height: 40px;
    }
    a{
        color: black;
        text-decoration: none;
    }
}

.buttonsCenter{
    display: flex;
    flex-direction: column;
    svg{
        padding: 5px;
        border-radius: 10px;
        height: 35px;

        &.active{
            background-color: #b5b4b4;
        }
    }
}

.user{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: black;
}

.separator{
    align-self: center;
    margin: 1.5vh;
    height: 0.4vh;
    width: 85%;
    background-color: #b5b4b4;
    border-radius: 20px;
}

.btn{
    cursor: pointer;
}