<div class="main">
    <div class="leftSide container">
        <div class="back">
            <svg width="54" height="48" viewBox="0 0 54 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_1_869" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="54" height="48">
                <path d="M3.43323e-05 0H53.4058V48H3.43323e-05V0Z" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_1_869)">
                <path d="M29.658 46.889L7.40564 24.6668L29.658 2.44458L33.6078 6.38902L15.3052 24.6668L33.6078 42.9446L29.658 46.889Z" fill="#8C8B8B"/>
                </g>
            </svg>
            <span>Back</span>
        </div>
        <span>Welcome Back</span>
        <form [formGroup]="form" (submit)="login()">
            <input type="email" placeholder="Email" name="email" formControlName="email">
            <input type="password" placeholder="Password" name="password" formControlName="password">
            <button type="submit" [disabled]="form.invalid">Log In</button>
        </form>
        <span style="font-size: 2.8vh; margin-top: 2vh; color: gray;">Dont have an account? <a href="" style="text-decoration: none; color: black;">Sign Up</a></span>
    </div>
    <div class="rightSide container">
        <img src="login.png" alt="started">
    </div>
</div>
